.teste{
    background-color: red;
}
.distanciaPadraoTopo{
    margin-top: 70px;
}
.disatanciaPadraoExibicoes{
    margin-top: 20px;
}
.fundoPadrao{
    background-color: #788F9F;
}
.bordaPadrao{
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.corFonteNumeroPadrao{
    color:white;
    font-weight: bold;
    font-size: 25px;
}
.corDescricaoPadrao{
    font-size: 20px;
}
.tituloTabelaExibicoes{
    font-size: 20px;
    text-transform: uppercase;
}
.ocultaMenuAdministrador{
    display: none;
}
.exibeMenuAdministrador{
    display: block;
}
.barraMenuTopo{
    margin-left:100px;
    margin-top: -7px;
}
.corFonteNavBar .nav-link{
    color: white;
}
#dropDownMenuAdm{
    color: white;
}
#btnLogout{
    color: white;
}
.barraMenuTopo{
    color: white;    
}
#botoesPadroes{
    color: white;
}

.corNavBar{
    background-color: #1B1F5F;
}
.modal {
    overflow-y:auto;
}

.botao-adicionar{
    height: 80px;
    width: 125px;
}
td{
    white-space:nowrap;
}

.bordaBotoes{
    border: 1px solid grey;
}
.largura-acoes{    
    width: 100px;
}
