.teste{
    background-color: red;
}

.distancia-topo{
    margin-top: 80px;
}
.borda{
    border: 1px solid black;    
    padding-bottom: 20px;
}
.tituloLogin{
    padding-top: 20px;    
    padding-bottom: 10px;    
    font-size: 20px;
}

.tamanhoLogo{
    height: 110px;    
}
.btn{
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;    
}
.form-control{
    height: 50px;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}
#labels{
    font-size: 15px;
}

.efeitovidro{
    background-color: rgba(255, 255, 255, 0.5);
}


/*.fundoPagina{
    /*background: rgba(73,155,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
    background: url("/img/bg_ceu.jpg") center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#videoFundo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}